// Для каждой страницы устанавливается свой класс body
body.llsn {
  background: url('/img/bg.png') repeat;
  font-family: 'Arimo', Arial, sans-serif;
  font-size: 15px;

  .content {
    width: 800px;
    padding: 70px;
    margin: 0 0 0 15%;
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    //justify-content: center;
    text-align: left;
    box-shadow: 1px 0px 12px -2px rgba(107,107,107,0.84);
  }

  .b-header {
    padding-top: 30px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Arimo', Arial, sans-serif;
    color: #000000;
  }
}