// Для каждой страницы устанавливается свой класс body
body.llsn {
  .logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    text-align: right;
    img {
      margin-right: 25px;
    }
  }
  .language-selector {
    position: absolute;
    top:0;
    right: 0;
  }

  .back {
    position: absolute;
    top: 25px;
    font-size: 17px;
  }

  .link-menu {
    list-style-type: none;
  }
  .link-menu__item {

  }
  .link-menu__link {
    &:link, &:hover {
      color: #15c;
    }
    &:visited, &:active {
      color: #61c;
    }
  }

  .available-lang {

  }

  .available-lang__example {}

  .available-lang__example-link {
    font-size: 13px;
    &:link, &:hover {
      color: #333;
    }
    &:visited, &:active {
      color: #333;
    }
  }
}